
/* Container */
.container-div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    margin: 30px auto;
    background: rgb(223, 220, 220);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titles */
.title {
    color: #0056b3;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Styles */
.form-group {
    margin: 15px;
    text-decoration: underline;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.form-group textarea {
    height: 50%; /* change it  */
}

/* Buttons */

.form-actions {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    color: white;
    background: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.btn-danger {
    background: #dc3545;
}

.btn-danger:hover {
    background: #a71d2a;
}

/* Messages */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.success {
    background: #d4edda;
    color: #155724;
}

.error {
    background: #f8d7da;
    color: #721c24;
}
